<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5"/>
    <!--
      Раздел <authentication> позволяет настроить параметры 
      режима проверки подлинности, используемого ASP.NET для проверки 
      подлинности пользователя, запрашивающего разрешение на доступ. 
    -->
    <authentication mode="Windows"/>
    <!--
       Раздел <customErrors> служит для настройки действий, 
       выполняемых при возникновении необрабатываемой 
       ошибки во время выполнения запроса. В частности, 
       разработчик может задать HTML-страницы ошибок 
       для отображения вместо трассировки ошибки в стеке.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <customErrors mode="Off"/>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Раздел system.webServer требуется для работы ASP.NET AJAX в
        Internet Information Services 7.0. Он не требуется для более ранней версии IIS.
    -->
</configuration>